In [1]:
# import the required packages
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [101]:
# call the webdriver for chrom which already downloaded and kept in working environment 
driver=webdriver.Chrome('chromedriver.exe')
driver
# 1. First get the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')
#2 Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field
Enter_job_title=driver.find_element_by_class_name('suggestor-input')
Enter_job_title.send_keys('Data Analyst')

job_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
job_location.send_keys('Bangalore')

#3. Then click the search button
search_click=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_click.click()

In [102]:

#4.Then scrape the data for the first 10 jobs results you get
Job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

jobs=[]

for i in Job_title:
    jobs.append(i.text)
    
jtitle=jobs[0:10]
print(jtitle)
print('\n')

company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

company_name=[]

for i in company:
    company_name.append(i.text)
    
company=company_name[0:10]
print(company)
print('\n')

location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

job_location=[]
for i in location:
    job_location.append(i.text.split('/')[0])
    
jlocation=job_location[0:10]
print(jlocation)
print('\n')

exp=driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')

experience=[]
for i in exp:
    experience.append(i.text)
    
exp=experience[0:10]
print(exp)
print('\n')

print(len(jtitle),len(company),len(jlocation),len(exp))
print('\n')

Data_analyst_df=pd.DataFrame()
Data_analyst_df['Job_title']=jtitle
Data_analyst_df['company_name']=company
Data_analyst_df['Job_location']=jlocation
Data_analyst_df['experience_Required']=exp

Data_analyst_df

['Data Analyst I', 'Hiring For Data Analyst I(SQL & Python)', 'Senior Data Analyst', 'Senior Data Analyst II', 'Senior Data Analyst', 'Senior Data Analyst II', 'Senior Data Analyst II', 'Looking For Data Analyst - Remote Support', 'Job openings For Data Analyst - AOA', 'Cargill - Data Analyst - Corporate Audit Domain II']


['Cerner', 'Clario India Pvt Ltd', 'Capco', 'Flipkart', 'Flipkart', 'Flipkart', 'Flipkart', 'Locuz Enterprise Solutions Ltd', 'izmo ltd', 'Cargill Business Services India Private Limited']


['Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Hyderabad', 'Bangalore', 'Bangalore']


['At least 4 years Additional work experience directly related to the duties of the job a...', '1. Should have minimum 1year of hands in experience in SQL and Python2. Data Analytics ...', 'Perform Data Analysis to develop data sourcing requirement Good understanding of data g...', 'Bachelors in Engineering, Computer Science, Math, or related discipline from a reputed ...', 'Along with this, you will be expected to have a very good handle on different data stre...', 'Able to envision & implement the optimal data modeling, physical design, performance op...', 'Able to envision & implement the optimal data modeling, physical design, performance op...', 'Job SummaryDevelop data-driven insights to make decisions on talent, workforce processe...', 'Graduate in any stream and / or equivalentQualifications required: Any Bachelors degree...', 'Shift : EMEA (12PM TO 9PM) Bachelors degree in a related field or equivalent experience...']


10 10 10 10

,Job_title,company_name,Job_location,experience_Required
0,Data Analyst I,Cerner,Bangalore,At least 4 years Additional work experience di...
1,Hiring For Data Analyst I(SQL & Python),Clario India Pvt Ltd,Bangalore,1. Should have minimum 1year of hands in exper...
2,Senior Data Analyst,Capco,Bangalore,Perform Data Analysis to develop data sourcing...
3,Senior Data Analyst II,Flipkart,Bangalore,"Bachelors in Engineering, Computer Science, Ma..."
4,Senior Data Analyst,Flipkart,Bangalore,"Along with this, you will be expected to have ..."
5,Senior Data Analyst II,Flipkart,Bangalore,Able to envision & implement the optimal data ...
6,Senior Data Analyst II,Flipkart,Bangalore,Able to envision & implement the optimal data ...
7,Looking For Data Analyst - Remote Support,Locuz Enterprise Solutions Ltd,Hyderabad,Job SummaryDevelop data-driven insights to mak...
8,Job openings For Data Analyst - AOA,izmo ltd,Bangalore,Graduate in any stream and / or equivalentQual...
9,Cargill - Data Analyst - Corporate Audit Domai...,Cargill Business Services India Private Limited,Bangalore,Shift : EMEA (12PM TO 9PM) Bachelors degree in...

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [97]:
#1. First get the webpage https://www.naukri.com/
driver=webdriver.Chrome('chromedriver.exe')
driver
driver.get('https://www.naukri.com/')

#2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

job_desc=driver.find_element_by_class_name('suggestor-input')
job_desc.send_keys('Data Scientist')

job_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
job_location.send_keys('Bangalore')

#3. Then click the search button.
search_click=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_click.click()

In [99]:
#4. Then scrape the data for the first 10 jobs results you get.
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

job_title=[]

for i in title:
    job_title.append(i.text)
    
jtitle=job_title[0:10]
print(jtitle)
print('\n')

location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

company_location=[]

for i in location:
    company_location.append(i.text.split('/')[0])
    
company_location=company_location[0:10]
print(company_location)
print('\n')

company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

name=[]

for i in company_name:
    name.append(i.text)
    
name=name[0:10]
print(name)
print('\n')

print(len(jtitle),len(company_location),len(name))

#5. Finally create a dataframe of the scraped data.

DS_df=pd.DataFrame()
DS_df['job-title']=jtitle
DS_df['job-location']=company_location
DS_df['company_name']=name

DS_df

['Sr Data Scientist', 'HCL Tech Opening - Lead Data Scientist', 'Sr . Data Scientist', 'Senior Data Scientist Payments', 'Senior Data Scientist (R Programming)', 'Lead Data Scientist', 'Data Scientist/Senior Data Scientist - Python', 'Senior Data Scientist - Python/Machine Learning Algorithms', 'Data Scientist / Analyst', 'Need Data scientists and data engineers - WFH- less than 30days notice']


['Bangalore', 'Kolkata, Hyderabad', 'Bangalore', 'Bangalore', 'Remote', 'Bangalore', 'Bangalore', 'Mumbai, Hyderabad', 'Bangalore', 'Hyderabad']


['Uber', 'HCL', 'Visa', 'AirSeva', 'Ignitho', 'Kyndryl', 'ApicalGo Consultancy', 'Altimax Business Solutions', 'open data fabric', 'Covalense Technologies Private Limited']


10 10 10

,job-title,job-location,company_name
0,Sr Data Scientist,Bangalore,Uber
1,HCL Tech Opening - Lead Data Scientist,"Kolkata, Hyderabad",HCL
2,Sr . Data Scientist,Bangalore,Visa
3,Senior Data Scientist Payments,Bangalore,AirSeva
4,Senior Data Scientist (R Programming),Remote,Ignitho
5,Lead Data Scientist,Bangalore,Kyndryl
6,Data Scientist/Senior Data Scientist - Python,Bangalore,ApicalGo Consultancy
7,Senior Data Scientist - Python/Machine Learnin...,"Mumbai, Hyderabad",Altimax Business Solutions
8,Data Scientist / Analyst,Bangalore,open data fabric
9,Need Data scientists and data engineers - WFH-...,Hyderabad,Covalense Technologies Private Limited

Q3: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [84]:
#1. first get the webpage https://www.naukri.com/
driver=webdriver.Chrome('chromedriver.exe')
driver
url='https://www.naukri.com'
driver.get(url)

In [85]:
#2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
role=driver.find_element_by_class_name('suggestor-input')
role.send_keys('Data Scientist')

delhi=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
delhi.send_keys('Delhi/NCR')


#3. Then click the search button.
search_btn=driver.find_element_by_class_name('qsbSubmit')
search_btn.click()
# apply salary filter for 3-6lac
salary_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_filter.click()

In [95]:
#4. Then scrape the data for the first 10 jobs results you get(job-title, job-location, company name, experience required)
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

Job_title=[]

for i in title:
    Job_title.append(i.text)
    
Job_title=Job_title[0:10]
print(Job_title)
print('\n')


location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

Job_loc=[]
for i in location:
    Job_loc.append(i.text)
    
Job_loc=Job_loc[0:10]
print(Job_loc)
print('\n')

name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

company_name=[]

for i in name:
    company_name.append(i.text)
    
company_name=company_name[0:10]
print(company_name)
print('\n')

exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

experience=[]

for i in exp:
    experience.append(i.text)
    
exp=experience[0:10]
print(exp)
print('\n')
# check len of array
print(len(Job_title),len(Job_loc),len(company_name),len(exp))




#5. Finally create a dataframe of the scraped data.


DS_df_3_6yearexp=pd.DataFrame()
DS_df_3_6yearexp['job-title']=Job_title
DS_df_3_6yearexp['job-location']=Job_loc
DS_df_3_6yearexp['company name']=company_name
DS_df_3_6yearexp['experience required']=exp

DS_df_3_6yearexp

['Data scientist- Python', 'Hiring For Senior Data Scientist-Noida', 'Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA', 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC', 'Data Scientist', 'Data Scientist _NLP', 'Data Scientist (freelance)', 'Data Scientist - MIND Infotech', 'Data Scientist - MIND Infotech', 'Lead Data Scientist']


['Gurgaon/Gurugram', 'Noida, New Delhi, Greater Noida', 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)', 'Noida, New Delhi, Delhi / NCR', 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR', 'Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)', 'New Delhi, Delhi', 'Noida', 'Noida', 'Delhi / NCR\n(WFH during Covid)']


['TeamPlus Staffing Solution Pvt Ltd', 'Lumiq.ai', 'NTT Data', 'GABA Consultancy services', 'Mount Talent Consulting Private Limited', 'EXL', '2Coms', 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED', 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED', 'Indihire HR Consultants Private Limited']


['3-6 Yrs', '2-6 Yrs', '0-0 Yrs', '0-0 Yrs', '1-4 Yrs', '3-8 Yrs', '2-7 Yrs', '4-8 Yrs', '4-8 Yrs', '2-4 Yrs']


10 10 10 10

,job-title,job-location,company name,experience required
0,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
1,Hiring For Senior Data Scientist-Noida,"Noida, New Delhi, Greater Noida",Lumiq.ai,2-6 Yrs
2,"Excellent Opportunity For Freshers For AI/ML, ...","Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",NTT Data,0-0 Yrs
3,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs
4,Data Scientist,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Mount Talent Consulting Private Limited,1-4 Yrs
5,Data Scientist _NLP,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ...",EXL,3-8 Yrs
6,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
7,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
8,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
9,Lead Data Scientist,Delhi / NCR\n(WFH during Covid),Indihire HR Consultants Private Limited,2-4 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.

In [252]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.flipkart.com/')

In [254]:
# search for sunglases
sunglass_page=driver.find_element_by_class_name('_3704LK')
sunglass_page.send_keys('sunglasses')

search_clik=driver.find_element_by_class_name('_34RNph')
search_clik.click()

In [267]:
 #creating the empty list
import time
brand=[]
description=[]
price=[]


time.sleep(3)

#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements_by_xpath('//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))       
# create the df for 100 sunglasses      
sunglasses_df=pd.DataFrame()
sunglasses_df['Brand']=brand[0:100]
sunglasses_df['Product Description']=description[0:100]
sunglasses_df['Price']=price[0:100]

sunglasses_df.shape

(100, 3)

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link
"https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC"
TSVZAXUHGREPBFGI&marketplace.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [332]:
# open webdriver and flipkaty iphone product page and click the view more reviews

driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace')
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span').click()

In [312]:
#creat empty list for all the attributes
Rating=[]
Review_summary=[]
Full_review=[]

time.sleep(3)

start=0
end=15

#scrape the 15 pages reviews

for page in range(start,end):
    ratings=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings:
        Rating.append(i.text)
    reviews=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i in reviews:
        Review_summary.append(i.text)
    full_reviews=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in full_reviews:
        Full_review.append(i.text)
    next_button=driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    try:
        driver.get(next_button[1].get_attribute('href'))
    except:
        driver.get(next_button[0].get_attribute('href'))

#creart the df
iphone_reviews=pd.DataFrame()
iphone_reviews['Rating']=Rating[0:100]
iphone_reviews['Review_summary']=Review_summary[0:100]
iphone_reviews['Full_review']=Full_review[0:100]

iphone_reviews.shape

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [75]:
web_driver=webdriver.Chrome('chromedriver.exe')
url='https://www.flipkart.com/'
web_driver.get(url)

In [334]:
# enter the key word as sneaker and search
enter_key=web_driver.find_element_by_class_name('_3704LK')
enter_key.send_keys('sneakers')
web_driver.find_element_by_class_name('L0Z3Pu').click()

In [335]:
# create empty list 
brand=[]
Product_Description=[]
price=[]

time.sleep(3)

start=0
end=10

for pages in range(start,end):
    brands=web_driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in brands:
        brand.append(i.text)
    product_desc=web_driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in product_desc:
        Product_Description.append(i.text)
    prices=web_driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]')
    for i in prices:
        price.append(i.text)
    next_page=web_driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    try:
        web_driver.get(next_page[1].get_attribute('href'))
    except:
        web_driver.get(next_page[0].get_attribute('href'))
        
#create a df 
sneaker_df=pd.DataFrame()
sneaker_df['Brand']=brand[0:100]
sneaker_df['Product_Description']=Product_Description[0:100]
sneaker_df['Price']=price[0:100]

sneaker_df.shape

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [76]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.myntra.com/shoes'
driver.get(url)

In [ ]:

price_filter=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click() 
color_filter=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [84]:
import time
brands=[]
short_description=[]
prices=[]

start=0
end=2

for page in range(start,end):
    brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in brand:
        brands.append(i.text)
    short_desc=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in short_desc:
        short_description.append(i.text)
    price=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in price:
        prices.append(i.text)
    next_page=driver.find_elements_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
    try:
        driver.get(next_page[1].get_attribute('href'))
    except:
        driver.get(next_page[0].get_attribute('href'))
    
        
        
#create df 
shoes_df=pd.DataFrame()
shoes_df['Brand']=brands[0:100]
shoes_df['short_description']=short_description[0:100]
shoes_df['prices']=prices[0:100]

shoes_df.shape

(100, 3)